@model IEnumerable<H2StyleStore.Models.ViewModels.H_ActivityVM>

@{
    ViewBag.Title = "Index";
    var activityName = ViewBag.ActivityName as string;
    var allActivuty = ViewBag.AllActivity;
}

<h2>H coin Activity</h2>
@*<div>
    <form>
        @foreach (var item in Model)
        {
            <label for="exampleInputEmail1">
                消費者 @Html.DisplayFor(modelItem => item.Activity_Name)
            </label>
            <span id="ad_@item.H_Activity_Id" style="display:none">@Html.DisplayFor(modelItem => item.Activity_Describe)</span>
            <input type="text" class="form-control" id="h_@item.H_Activity_Id" name="@item.Activity_Name" value="@Html.DisplayFor(modelItem => item.H_Value)" />
            }

        @*<label for="exampleInputEmail1">消費者 @allActivuty[0].Activity_Name </label>
        <input type="text" class="form-control" id="registerH" value="@allActivuty[0].H_Value">
        

        <button id="modify" class="btn btn-success" onclick="">修改</button>
    </form>
</div>*@


<form>
    <div class="row">
        <div class="col">
            <div class="caption">
                <h3>Search</h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            活動名稱: <input type="text" name="activityName" class="form-control" value="@activityName" />
        </div>
        <div class="col" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity_Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="activity" style="cursor:pointer">
            <td id="activity_id" style="display:none">
                @Html.DisplayFor(modelItem => item.H_Activity_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity_Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H_Value)
            </td>
            <td>
                @Html.ActionLink("修改", "EditActivity", new { id = item.H_Activity_Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>


@section Scripts
{
    <script>
        $("#activity").on("click", function () {

            window.location.href = "../H_Activities/EditActivity?id=" + $(this).children('#activity_id').text().trim();

            @*$.ajax({
                type: "PUT",
                url:"../H_Activities/EditActivity?id="+ h_@item.H_Activity_Id
            }).done(function () {
                alert($("#a_1").val());
            }).fail(function (err) {
                alert(err.statusText);
            });*@
        })

    </script>
}