@model H2StyleStore.Models.ViewModels.H_Source_DetailVM

@{
    ViewBag.Title = "DeleteDetail";
}

<style>
    dt {
        font-size: 20px;
        margin-left: 20px;
    }

    dd {
        font-size: 20px;
        margin-left: 40px;
    }
</style>


<h2>刪除會員活動紀錄</h2>

<h4>你確定要刪除<span style="text-decoration:auto; font-weight:900;">會員活動紀錄</span>嗎?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_Activity_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_Activity_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference_H)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference_H)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Time)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="margin-right:30px;" /> |
            @Html.ActionLink("Back to List", "HDetail")
        </div>
    }
</div>
