@model H2StyleStore.Models.EFModels.H_Activities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>H_Activities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.H_CheckIns.CheckIn_H_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_CheckIns.CheckIn_H_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity_Describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_Describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.H_Activity_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
