@model IEnumerable<H2StyleStore.Models.ViewModels.Order_DetailsVM>

@{
    ViewBag.Title = "Details";
}

<style>
    @@media print {
        .donotprint {
            visibility: hidden;
        }
    }
</style>

<h2>訂單詳情</h2>

<p>
    <input name="print" type="button" value="列印檢貨單" class="donotprint btn btn-secondary" onClick="doprint()">
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
        function doprint() {
            var text = document;
            print(text);
        };
    </script>
}


