@model IEnumerable<H2StyleStore.Models.ViewModels.Order_DetailsVM>

@{
    ViewBag.Title = "Details";
}

<style>
    .title {
        visibility: hidden;
    }

    @@media print {
        .donotprint {
            visibility: hidden;
        }

        .title {
            visibility: visible;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>

<h2 class="donotprint m-0">訂單詳情</h2>
<h4 class="title">撿貨單</h4>

<p>
    <input name="print" type="button" value="列印檢貨單" class="donotprint btn btn-secondary" onClick="doprint()">
</p>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
            </tr>
        }
    </table>

    @{ int total = 0;}
    @foreach (var item in Model)
    {
        total += (@item.SubTotal - @item.Discount.Value);
    }
    <div class="pl-2" style="font-weight:bold ;">合計:@total 元</div>
</div>

@section Scripts{
    <script>
        function doprint() {
            var text = document;
            print(text);
        };
    </script>
}


