@model IEnumerable<H2StyleStore.Models.ViewModels.OrderVM>


@{
    ViewBag.Title = "Index";
}

@{
    IEnumerable<SelectListItem> status = ViewBag.Status;
}

<h2>訂單管理</h2>
<form method="get">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>Search</h3>
                <div class="row">
                    <div class="col-md-4">訂單狀態:@Html.DropDownList("status", status, new { @class = "form-control" })</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; padding-left: 15px;">
        <input type="submit" class="btn btn-primary" value="篩選" />
        <a href="@Url.Action("Update")" class="btn btn-warning pull-right" style="margin-bottom:10px; margin-right:25px">批次修改</a>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipVia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestRefundTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestRefund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @{int id = 1;}

    @foreach (var item in Model)
    {
        <tr id="@id">
            <td>
                @Html.DisplayFor(modelItem => item.Member_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipVia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestRefundTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestRefund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("訂單詳情", "Details", new { id = item.Order_id }, new { @class = "btn btn-default" })
            </td>
        </tr>
        id++;
    }
</table>

@section Scripts{
    <script>
        $('.orderrow').on('click', function (event) {
            var orderId = $(this).attr("id");
        });

    </script>

}
