@model IEnumerable<H2StyleStore.Models.ViewModels.EssayVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Influencer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UplodTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Removed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Influencer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UplodTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Removed)
            </td>
            <td>
                @foreach (var img in item.Images)
                {
                    <img class="img" src="@img" style="width:100px ; height:100%;" />
                }
            </td>
            <td>
                @("#"+string.Join(" #",item.Tags))
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEssays", new { id = item.Essay_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Essay_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Essay_Id })
            </td>
        </tr>
    }

</table>
